.container-show-pedalo {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 376px;
  margin: 70px auto;
  border: red 1px solid;
  padding: 50px;
}