h2 {
  text-align: center;
  margin-bottom: 30px;
}

h2 span {
  color: rgb(232, 4, 209);
}

.container-sign-forms {
  width: 370px;
  margin: 70px auto;
  padding: 50px;
  border: rgb(232, 4, 209) 10px dotted;
}