<div class="container">

<% if ["owner", "admin"].include? current_user.role then %>
  <% @reservations_owner.each do |reservation| %>
  <%= render 'reservations/card_reservation', reservation: reservation %>
  <% end %>
<% end %>
</div>
