<div class="container">

<% if ["owner", "admin"].include? current_user.role then %>
  <% Review.all.each do |reservation| %>
  <%= render 'reviews/card_review', review: reservation %>
  <% end %>
<% end %>
</div>
