<div class="container">

<% if ["owner", "admin"].include? current_user.role then %>
  <% Pedalo.all.each do |reservation| %>
  <%= render 'pedalos/card_pedalo', pedalo: reservation %>
  <% end %>
<% end %>
</div>
