
<div class="d-flex p-3 m-3">
  <img src="pedalo.image" width="150" height="150">
  <div>
  <h3><%= pedalo.name %></h3>
  <h4><%= pedalo.description %><h4>
  <p><%= "#{pedalo.price_per_hour/100}.#{pedalo.price_per_hour%100}" %> CHF/h</p>
  </div>
<div>