
<div class="d-flex p-3 m-3 flex-row border align-items-center card-pedalo">
  <img src="https://source.unsplash.com/random/150x150" width="150" height="150">
  <div class="ml-3 p-1">
  <h3><%= pedalo.name %></h3>
  <h4><%= pedalo.description[0, 20] %></h4>
  <p><%= "#{pedalo.price_per_hour/100}.#{pedalo.price_per_hour%100}" %> CHF/h</p>
  </div>
</div>