<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://cdn.shopify.com/s/files/1/0020/6487/5578/files/SunPleasure.Unicorn_1600x.jpg);">
  <div class="container">
    <h1><strong>Keep Calm and Pedalo!</strong></h1>
    <p>Waterbnb allows you to rent pedalos to have fun with you friends on Switzerland's beautiful lakes</p>
    <div id="button-login"><a class="btn btn-flat" href="<%= pedalos_path%>">LOGIN</a></div>
  </div>
</div>
