<div class='container-sign-forms' style="width: 700px">
  <h2>Thank you for booking <span style="color: rgb(232, 4, 209)"><%= @pedalo.name %></span>!</h2>
  <h2>Your booking details:</h2>
  <h3><span style="color: rgb(232, 4, 209)">Start Time: </span>insert start time</h3>
  <h3><span style="color: rgb(232, 4, 209)">End Time: </span>insert end time</h3>
  <h3><span style="color: rgb(232, 4, 209)">Total Price: </span> insert price</h3>
</div>