.btn-back {
  color: black;
  height: 50px;
  width: 80px;
  font-size: 15px;
  border: white 1px solid;
  position: absolute;
  left: 85%;
  top: 82%;
  border-radius: 15px;
  text-decoration: none;
  background-color: white;

  &:hover {
    background-color: black;
    color: white;
    text-decoration: none;
  }
}
