
/*.btn-flat uniquement applicable au bouton rose de la homepage */
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: rgb(188, 26, 156);
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #883478;
  color: white;
}

/*__________________________________________________________________*/

.btn-submit {
  color: black;
  padding: 10px 15px;
  background-color: white;
  border-radius: 15px;
  text-decoration: none;
  border: #2d4b8b 1px solid;
  transform: scale(1.15);
  overflow: hidden;
  transition: all .6s;

  &:hover {
    text-decoration: none;
    color: white;
    transform: scale(1.03);
    filter: none;
    background-color: #2d4b8b;
  }
}