.card-reservation {
  background: white;
  border-radius: 5px;
  // width: 600px;
  font-family: Optima, sans-serif;
  box-shadow: 1px 1px 1px gray;
  transition: transform .4s 0.1s ease;

  &:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 3px #2F2A61; 
    }
  
  i {
    border-radius: 5px;
    font-size: 100px;
  }
   img {
     width: 150px;
     height: 150px;
   }
}