.card-pedalo {
  background-image: linear-gradient(to right top, #ffffff, #fff1ff, #ffe0e2, #ffd9b1, #ebe08c);
  border-radius: 15px;
  width: 450px;
  font-family: Optima, sans-serif;
  
  img {
    border-radius: 8px;
    width: 150px;
    height: 150px;
  }
}