.container-userpage {
  width: 700px;
  margin: 30px auto;

  h2 {
    color: black;
    border: solid 1px #E3E1DE;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    background: rgba(200, 200, 200, 0.5);

  }

  p {
    color:black;
  }
}