.form-addpedalo {
  width: auto;
  margin: 40px 200px;
  padding: 30px;
  border: #2d4b8b 10px dotted;
  background-color: white ;
  color: #2d4b8b;

  .btn-ok {
    margin-top: 15px;
  }
}

.header-form {
  text-align: center;
  margin: 30px auto;
  width: 700px;
  border: solid 2px #2d4b8b;
  border-radius: 50px;
  padding: 10px 20px;
}