.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#navbar {
  background: wheat;
  height: 70px;
  
  .nav-link {
    color: white;
    background: #2d4b8b;
    border-radius: 15px;
  }
}

.navbar-brand {
  background: transparent;
}
