.navbar-lewagon {
  justify-content: space-between;
  background: rgba(235, 235, 235, 0.5);
  position: sticky;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  border-radius: 10px;
}
